.super-body {
  height: 100%;
  min-height: 100%;
  min-width: 100%;
  width: 100%;
  overflow: hidden;
}

.version {
  position: absolute;
  right: 0;
  bottom: 0.5em;
  font-size: 8pt;
  margin-right: 1em;
  text-decoration: none;
  color: #7b7b7b;
}
