<!-- <div class="full-container" fxLayout="column" fxFlexFill>
  <ng-container *ngIf="LayoutOpt === 1">
    <app-navbar></app-navbar>

    <div fxFlexFill fxLayout="row" class="super-body">
      <app-sidebar></app-sidebar>
      <div fxFlex class="page-wrap">
        <router-outlet></router-outlet>
      </div>
    </div>
  </ng-container>

  <ng-container *ngIf="LayoutOpt === 2">
    <div fxFlexFill fxLayout="row">
      <app-sidebar></app-sidebar>

      <div fxLayout="column" class="page-wrap" fxFlex>
        <app-navbar></app-navbar>
        <router-outlet></router-outlet>
        <a class="version">Versión {{ version }}</a>
      </div>
    </div>
  </ng-container>
</div> -->
<p>este es full layout</p>

<router-outlet></router-outlet>
