.mat-drawer.mat-drawer-side {
  padding: 2em 1em;
  border: 1px solid;
}

/* .example-container {
  width: 500px;
  height: 300px;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.example-sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.example-sidenav {
  padding: 20px;
} */

h1.example-app-name {
  margin-left: 8px;
}

.example-is-mobile .example-sidenav-container {
  flex: 1 0 auto;
}
