/* imports and global style files */
/* @import "./app/theme/variables";
@import "./app/theme/account";
@import "./app/theme/helpers";
@import "./app/theme/typography";
@import "./app/theme/components";
@import "./app/theme/button";
@import "./app/theme/table"; */

html,
* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.full-container {
  height: 100%;
  width: 100%;
  overflow: hidden;
}
